<div class="row justify-content-center">
  <table class="result col-md-6 col-xs-10">
    <tr>
      <td><p id="notice"><%= notice %></p></td>
    </tr>
    <tr>
      <th>User: <%= @project.username %></th>
    </tr>
    <tr>
      <td>
        <%= link_to("GitHub repository",
                    "https://github.com/containerdaysjp/showks-canvas-#{@project.github_id}") %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to("Portal (Staging)",
                    "https://portal.stg.showks.containerdays.jp") %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to("Portal (Production)",
                    "https://portal.prod.showks.containerdays.jp") %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to("Concourse CI (Staging)",
                    "https://concourse.showks.containerdays.jp/teams/main/pipelines/#{@project.username}-staging") %><br />
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to("Concourse CI (Production)",
                    "https://concourse.showks.containerdays.jp/teams/main/pipelines/#{@project.username}-production") %><br />
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to("Concourse CI (PR)",
                    "https://concourse.showks.containerdays.jp/teams/main/pipelines/#{@project.username}-pr") %><br />
      </td>
    </tr>
  </table>
</div>
