<div class="row justify-content-center">
  <table class="result col-md-6 col-xs-10">
    <tr>
      <td><p id="notice"><%= notice %></p></td>
    </tr>
    <tr>
      <th colspan="2">User: <%= @project.username %></th>
    </tr>
    <tr>
      <td colspan="2">
        <%= link_to("GitHub repository",
                    "https://github.com/containerdaysjp/showks-canvas-#{@project.username}") %>
      </td>
    </tr>
    <tr>
      <th>Staging</th>
      <th>Production</th>
    </tr>
    <tr>
      <td>
        <%= link_to("Portal",
                    "https://portal.stg.showks.containerdays.jp") %>
      </td>
      <td>
        <%= link_to("Portal",
                    "https://portal.showks.containerdays.jp") %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to("Canvas",
                    "https://showks-canvas-#{@project.username}.stg.showks.containerdays.jp/") %><br />
      </td>
      <td>
        <%= link_to("Canvas",
                    "https://showks-canvas-#{@project.username}.prod.showks.containerdays.jp/") %><br />
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to("Concourse CI",
                    "https://concourse.showks.containerdays.jp/teams/main/pipelines/#{@project.username}-staging") %><br />
      </td>
      <td>
        <%= link_to("Concourse CI",
                    "https://concourse.showks.containerdays.jp/teams/main/pipelines/#{@project.username}-production") %><br />
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to("Concourse CI (PR)",
                    "https://concourse.showks.containerdays.jp/teams/main/pipelines/#{@project.username}-pr") %><br />
      </td>
      <td>
      </td>
    </tr>
  </table>
</div>
